<div class="row jumbotron">
  <div class="col-sm-12">
  <h1>Topology</h1>
  <br/>
  <span>Click on an OBI for more details</span>
</div>
</div>

<div class="row">
    <div class="jumbotron">
      <app-graphs [graph]="topologyGraph"
                  [orientation]="'TB'"
                  (onLegendLabelClick)="onLegendLabelClick($event)"
                  (onSelect)="onSelect($event)"
      ></app-graphs>
    </div>
</div>
<div id="selectedView">
  <div *ngIf="selected">
    <h5>Configuration</h5>
    <pre>{{selected.json}}</pre>
  </div>
</div>
<div id="obiView">
 <app-obi *ngIf="obi" [obi]="obi"></app-obi>
</div>
